<p>Copyright - Noémie Lachman 2021</p>
<%= link_to "Github", "https://github.com/noemielach", target: :_blank %>
<%= link_to "Linkedin", "https://www.linkedin.com/in/noemie-lachman-31035b119/", target: :_blank %>
