<h1>Noemie Lachman</h1>
<p>Fullstack Web Developer</p>

<h2>Education</h2>
  <p>Le Wagon</p>
  <p>Fullstack Web Development Bootcamp</p>
  <p>New York City</p>
  <p>Dates</p>
  <p>Description</p>

  <p>Korea University Business School</p>
  <p>Exchange Semester</p>
  <p>Seoul</p>
  <p>Dates</p>
  <p>Description</p>

  <p>Solvay Brussel School of Economics and Management</p>
  <p>Master's Degree in Management Science</p>
  <p>Brussels</p>
  <p>Dates</p>
  <p>Description</p>

  <p>Solvay Brussel School of Economics and Management</p>
  <p>Bachelor's Degree in Economics</p>
  <p>Brussels</p>
  <p>Dates</p>
  <p>Description</p>

<h2>Work Experience</h2>
  <p>Product Manager</p>
  <p>Butterfly.ai</p>
  <p>New York City</p>
  <p>Dates</p>
  <p>Description</p>

  <p>Business Intelligence Analyst</p>
  <p>Butterfly.ai</p>
  <p>New York City</p>
  <p>Dates</p>
  <p>Description</p>
<h2>Skills</h2>
<h2>Languages</h2>
