<!-- <div>Picture of Me + Burger Menu</div> -->
<div>
  <h1>Noémie Lachman</h1>
  <h3>Fullstack Web Developer</h3>
</div>
<!-- <div>Quick Intro + CV download</div> -->
<h3>I am a fullstack web developer who used to work as a product manager, I can help you give life to your digital projects</h3>
<!-- <div>Links for contact</div> -->
<div class = "socials row">
  <%= link_to "", "https://www.linkedin.com/in/noemie-lachman-31035b119/", :target => "_blank", class: "fab fa-linkedin col" %>
  <%= link_to "", "https://github.com/noemielach", :target => "_blank", class: "fab fa-github col" %>
  <%= link_to "", "https://www.instagram.com/noemielach/?hl=fr", :target => "_blank", class: "fab fa-instagram col" %>
  <%#= link_to "", "mail-to:noemie.lachman@hotmail.fr", :target => "_blank", class: "fas fa-at email col" %>
</div>
<!-- <div>Dev Projects</div> -->
<div>
  <p>etracker</p>
  <p>DressBnB</p>
  <p>Archets Suzuki</p>
  <p>Mr. Cocktail</p>
</div>
<div>Photos</div>
<div>Contact form</div>
<div>Footer</div>
