<!-- <div>Picture of Me + Burger Menu</div> -->
<div class= "banner d-flex justify-content-between">
  <div class= "banner-text">
    <h1>Noémie Lachman</h1>
    <h3>Fullstack Web Developer</h3>
  </div>
  <%= cl_image_tag("portfolio/noemie_fbszsd", height: '700px', class: "home-image") %>
</div>
<!-- <div>Quick Intro + CV download</div> -->
<div class= "description">
  <h1>About Me</h1>
  <p>After graduating from a Master Degree in Management Science, I started my career in B2Btech startup in NYC as a Product Manager. I then decided to learn to code. I am now a fullstack web developer and can help you bring your ideas to life with a combination of tech, business and product mindset</p>
  <p>Feel free to reach out</p>
</div>
<!-- <div>Links for contact</div> -->
<div class = "socials row">
  <%= link_to "", "https://www.linkedin.com/in/noemie-lachman-31035b119/", :target => "_blank", class: "fab fa-linkedin col" %>
  <%= link_to "", "https://github.com/noemielach", :target => "_blank", class: "fab fa-github col" %>
  <%= link_to "", "https://www.instagram.com/noemielach/?hl=fr", :target => "_blank", class: "fab fa-instagram col" %>
  <%#= link_to "", "mail-to:noemie.lachman@hotmail.fr", :target => "_blank", class: "fas fa-at email col" %>
</div>
<!-- <div>Dev Projects</div> -->
<div class = "projects row">
  <div class = "col">
    <p>etracker</p>
  </div>
  <div class = "col">
    <p>DressBnB</p>
  </div>
  <div class = "col">
    <p>Archets Suzuki</p>
  </div>
  <div class = "col">
    <p>Mr. Cocktail</p>
  </div>
</div>

