.home_image{
  // position: relative;
  // height: 400px;
}

.banner-text{
  // position: absolute;
  top: 50px;
  padding: 24px;
  h1{
    font-size: 80px;
  }
}

.description {
  padding: 25px;
  text-align: center;
  font-size: 48px;
}
