.banner{
  // position: relative;
  // height: 400px;
  height: calc(100vh - 90px);
}


.banner-text{
  // position: absolute;
  top: 50px;
  padding: 24px;
  h1{
    font-size: 80px;
  }
}

#title{
  font-family: 'Rubik';
  font-style: 60px;
}
